.container{
   min-height: 100vh;
    display: flex;
     justify-content: flex-start; 
     flex-direction: column;
     align-items: center;
} 
img{
    margin-top: 30px;
}
.button{
display: flex;
flex-direction: column; 

} 
/* BE specific while writing css */
.btn-survey{
    margin: 20px;
    background-color: #B06047; 
    border: none;
    width: 150px;
} 
/* .input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 400px;
    margin-bottom: 0;
} */